# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [2]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for i in range(len(vendas)):
    print(f"Vendedor: {vendedores[i]} - Vendas: R$ {vendas[i]:.2f}")

Vendedor: Fulano - Vendas: R$ 1000.00
Vendedor: Beltrano - Vendas: R$ 1500.00
Vendedor: Ciclano - Vendas: R$ 1200.00
Vendedor: Lira - Vendas: R$ 1300.00

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [21]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
aprovados = 0
for i in range(len(alunos)):
    media = sum(notas[i]) / len(notas[i])
    aprovados += 1 if media >= 7 else 0
    print(f"Aluno: {alunos[i]} - Média: {media:.2f}")
print(f"Total de alunos com média maior ou igual a 7: {aprovados} Alunos")

Aluno: José - Média: 8.75
Aluno: Joana - Média: 6.50
Aluno: Maria - Média: 10.00
Aluno: Carla - Média: 6.75
Aluno: Mauricio - Média: 6.25
Aluno: Andre - Média: 7.25
Aluno: Tiago - Média: 7.50
Aluno: Enzo - Média: 6.50
Aluno: Amanda - Média: 7.50
Aluno: Alessandra - Média: 4.25
Total de alunos com média maior ou igual a 7: 5 Alunos

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [25]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]
media = sum(salarios) / len(salarios)
print(f"Média Salarial: R$ {media:.2f}")
idades_acima_media = 0
for i in range(len(idades)):
    if idades[i] > 25 and salarios[i] < media:
        idades_acima_media += 1
        print(f"Idade: {idades[i]} - Salário: R$ {salarios[i]:.2f}")
print(f"Quantidade de pessoas com mais de 25 anos e salário abaixo da média: {idades_acima_media}")

Média Salarial: R$ 3319.80
Idade: 32 - Salário: R$ 2219.00
Idade: 50 - Salário: R$ 3270.00
Idade: 49 - Salário: R$ 2384.00
Idade: 38 - Salário: R$ 2460.00
Idade: 49 - Salário: R$ 1872.00
Idade: 48 - Salário: R$ 1770.00
Idade: 48 - Salário: R$ 3295.00
Idade: 44 - Salário: R$ 1729.00
Idade: 42 - Salário: R$ 1916.00
Idade: 42 - Salário: R$ 2987.00
Idade: 38 - Salário: R$ 2055.00
Idade: 35 - Salário: R$ 1730.00
Quantidade de pessoas com mais de 25 anos e salário abaixo da média: 12

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [3]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]
media_anual = sum(temperaturas) / len(temperaturas)
print(f"Média anual de temperatura: {media_anual:.2f}°C\n")
for i in range(len(temperaturas)):
    if temperaturas[i] > media_anual:
        print(f"Mês: {meses[i]} - Temperatura: {temperaturas[i]}°C")

Média anual de temperatura: 25.83°C

Mês: Janeiro - Temperatura: 30°C
Mês: Fevereiro - Temperatura: 29°C
Mês: Março - Temperatura: 28°C
Mês: Abril - Temperatura: 28°C
Mês: Junho - Temperatura: 26°C
Mês: Novembro - Temperatura: 27°C
Mês: Dezembro - Temperatura: 32°C

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [4]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []

for salario in lista_salarios:
    if salario <= 2000:
        abono = salario * 0.2
    else:
        abono = salario * 0.1
    abonos.append(abono)
    print(f"Salário: R$ {salario:.2f} - Abono: R$ {abono:.2f}")
total_abonos = sum(abonos)
print(f"\nTotal gasto com abonos: R$ {total_abonos:.2f}")
print(f"Valor mínimo de abono pago: R$ {min(abonos):.2f}")
print(f"Valor máximo de abono pago: R$ {max(abonos):.2f}")
print(f"Quantidade de funcionários que receberam abono: {len(abonos)}")

Salário: R$ 1000.00 - Abono: R$ 200.00
Salário: R$ 300.00 - Abono: R$ 60.00
Salário: R$ 500.00 - Abono: R$ 100.00
Salário: R$ 200.00 - Abono: R$ 40.00
Salário: R$ 1500.00 - Abono: R$ 300.00
Salário: R$ 3000.00 - Abono: R$ 300.00
Salário: R$ 3400.00 - Abono: R$ 340.00
Salário: R$ 5000.00 - Abono: R$ 500.00
Salário: R$ 7000.00 - Abono: R$ 700.00
Salário: R$ 2000.00 - Abono: R$ 400.00
Salário: R$ 600.00 - Abono: R$ 120.00
Salário: R$ 800.00 - Abono: R$ 160.00
Salário: R$ 250.00 - Abono: R$ 50.00
Salário: R$ 1500.00 - Abono: R$ 300.00
Salário: R$ 20000.00 - Abono: R$ 2000.00

Total gasto com abonos: R$ 5570.00
Valor mínimo de abono pago: R$ 40.00
Valor máximo de abono pago: R$ 2000.00
Quantidade de funcionários que receberam abono: 15

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará,
considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo.
O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [14]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]
gasto = 0
preco = 2.25
for i in range(len(veiculos)):
    gasto = 1000 / autonomias[i] * preco
    print(f'Veículo: {veiculos[i]} - Autonomia: {autonomias[i]} km/l - Custo para percorrer 1000 km: R$ {gasto:.2f}')
consumo_medio = sum(autonomias) / len(autonomias)
preco_km = preco / consumo_medio
print(f'\nConsumo médio da frota: {consumo_medio:.2f} km/l')
print('Veículos que estão acima da média de consumo:')
for i in range(len(veiculos)):
    if autonomias[i] > consumo_medio:
        print(f'{veiculos[i]} - {autonomias[i]} km/l')

Comparativo de Consumo de Combustível
Veículo: fusca - Autonomia: 7 km/l - Custo para percorrer 1000 km: R$ 321.43
Veículo:  gol - Autonomia: 10 km/l - Custo para percorrer 1000 km: R$ 225.00
Veículo: uno - Autonomia: 12.5 km/l - Custo para percorrer 1000 km: R$ 180.00
Veículo: vectra - Autonomia: 9 km/l - Custo para percorrer 1000 km: R$ 250.00
Veículo: peugeot - Autonomia: 14.5 km/l - Custo para percorrer 1000 km: R$ 155.17

Consumo médio da frota: 10.60 km/l
Veículos que estão acima da média de consumo:
uno - 12.5 km/l
peugeot - 14.5 km/l

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [21]:
from os import access


vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
bonus = 200
comissao_total = 0
for venda in vendas:
    comissao = (venda * 0.09) + bonus
    total = venda + comissao
    print(f'Venda: R$ {venda:.2f} - Comissão: R$ {comissao:.2f} - Total: R$ {total:.2f}')
    comissao_total += comissao
print(f'\nComissão total dos vendedores: R$ {comissao_total:.2f}')

Venda: R$ 1000.00 - Comissão: R$ 290.00 - Total: R$ 1290.00
Venda: R$ 2000.00 - Comissão: R$ 380.00 - Total: R$ 2380.00
Venda: R$ 3000.00 - Comissão: R$ 470.00 - Total: R$ 3470.00
Venda: R$ 4000.00 - Comissão: R$ 560.00 - Total: R$ 4560.00
Venda: R$ 5000.00 - Comissão: R$ 650.00 - Total: R$ 5650.00
Venda: R$ 6000.00 - Comissão: R$ 740.00 - Total: R$ 6740.00
Venda: R$ 5500.00 - Comissão: R$ 695.00 - Total: R$ 6195.00
Venda: R$ 4500.00 - Comissão: R$ 605.00 - Total: R$ 5105.00
Venda: R$ 3600.00 - Comissão: R$ 524.00 - Total: R$ 4124.00

Comissão total dos vendedores: R$ 4914.00